/*Global*/
/*Make stable container*/
.container-sagment {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.elementor-widget.elementor-widget:not(:last-child) {
    margin-bottom: 0px;
}

.news-card.news-card {
    min-height: auto;
}
.paper_cut {
    z-index: 1;
    width: 100%;
    transition: none;
}
.paper_cut-flow-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #EDF2F6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.paper_cut .pub-item.with-icon {
    position: relative;
    z-index: 2;
}

.position-relative {
    position: relative;
}
.auth-callto-btn-wraper a {
    display: inline-block;
}
.profile-glimps_wrap .profile-glimps {
    padding: 0;
}

.elementor_movertheme-contact-form .frm-fluent-form .ff-el-input--content input {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}
.sabbi-page-header ~ .auth-breadcrumb-wrap {
    display: none;
}
.seq--kawsa .pos-y_center.container {
    max-width: 100%;
}
.sabbi-thumlinepost-card-wrap .read-more-wrap {
    margin-top: 15px;
}

.elementor .elementor-element a.btn-action {
    text-decoration: underline;
}
.elementor .elementor-element a.btn-action:hover {
    text-decoration: none;
}
.section-meet_the_team.section-meet_the_team {
    margin-top: 0px;
    margin-bottom: 0px;
}
.lst_news_list.lst_news_list a,.paper_cut.paper_cut.paper_cut a {
    text-decoration: none;
}

/*Normalize bootstrap grid*/
.column-border {
    position: relative;
}
.column-border:before {
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: 100%;
 }

.movertheme-heading-title-border-bottom .movertheme-heading-title {
    position: relative;
}
.movertheme-heading-title-border-bottom .movertheme-heading-title::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    left: 0;
    bottom: -10px;
    background: #36a4de;
}
/*Moverthemeelementor style for builder*/
.fw-bold.fw-bold {
    font-weight: 700;
}

.fw-bold.fw-bold .elementor-button-text {
    font-weight: 700;
}

.column-border {
    position: relative;
}
.column-border:before {
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: calc(100% - 40%)!important;
    background: #ffffff;
    top: 20%;
    bottom: 20%;
}

.elementor-page .movertheme-content-area.site-padding {
    padding: 0;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding-left: 15px;
  padding-right: 15px;
}

.elementor-section.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1170px;
}
@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}
@media (max-width: 767px) {
    .column-border:before {
        display: none;
    }
}
.elementor-button {
        line-height: 1.42857143;
}
/*Normalize bootstrap grid*/
.elementor-container.elementor-column-gap-default .elementor-row {

}
.elementor-default.elementor-default .row {
    margin-right: -15px;
    margin-left: -15px;
}
.elementor-default.elementor-default .col-xs-1,.elementor-default.elementor-default .col-sm-1,.elementor-default.elementor-default .col-md-1,.elementor-default.elementor-default .col-lg-1,
.elementor-default.elementor-default .col-xs-2,.elementor-default.elementor-default .col-sm-2,.elementor-default.elementor-default .col-md-2,.elementor-default.elementor-default .col-lg-2,
.elementor-default.elementor-default .col-xs-3,.elementor-default.elementor-default .col-sm-3,.elementor-default.elementor-default .col-md-3,.elementor-default.elementor-default .col-lg-3,
.elementor-default.elementor-default .col-xs-4,.elementor-default.elementor-default .col-sm-4,.elementor-default.elementor-default .col-md-4,.elementor-default.elementor-default .col-lg-4,
.elementor-default.elementor-default .col-xs-5,.elementor-default.elementor-default .col-sm-5,.elementor-default.elementor-default .col-md-5,.elementor-default.elementor-default .col-lg-5,
.elementor-default.elementor-default .col-xs-6,.elementor-default.elementor-default .col-sm-6,.elementor-default.elementor-default .col-md-6,.elementor-default.elementor-default .col-lg-6,
.elementor-default.elementor-default .col-xs-7,.elementor-default.elementor-default .col-sm-7,.elementor-default.elementor-default .col-md-7,.elementor-default.elementor-default .col-lg-7,
.elementor-default.elementor-default .col-xs-8,.elementor-default.elementor-default .col-sm-8,.elementor-default.elementor-default .col-md-8,.elementor-default.elementor-default .col-lg-8,
.elementor-default.elementor-default .col-xs-9,.elementor-default.elementor-default .col-sm-9,.elementor-default.elementor-default .col-md-9,.elementor-default.elementor-default .col-lg-9,
.elementor-default.elementor-default .col-xs-10,.elementor-default.elementor-default .col-sm-10,.elementor-default.elementor-default .col-md-10,.elementor-default.elementor-default .col-lg-10,
.elementor-default.elementor-default .col-xs-11,.elementor-default.elementor-default .col-sm-11,.elementor-default.elementor-default .col-md-11,.elementor-default.elementor-default .col-lg-11,
.elementor-default.elementor-default .col-xs-12,.elementor-default.elementor-default .col-sm-12,.elementor-default.elementor-default .col-md-12, .elementor-default.elementor-default .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.elementor-editor-active .preloader-wrap {
    display: none;
}

.elementor-widget-container.elementor-widget-container .section-meet_the_team {
    padding-left: 0px;
    padding-right: 0px;
}
.image-full .img-responsive {
    width: 100%;
}
.timeline-meta p:empty {
    display: none;
}
/* Whoo shop */
ul.products.columns-4 .product:nth-child(3n) {
    clear: both;
}
.journal-papers-nav {
    border-color: #e3e3e3;
}
.sabbi-thumlinepost-card-meta  .meta-title {
    margin-top: 0;
}
@media(max-width: 1200px ) and (min-width: 1025px) {
    .site-slider-wrapper.site-slider-wrapper {
        padding-top: 0!important;
    }
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.manage-column-title {
    color: #764710;
    font-weight: 500;
}
.column-services-image {
    text-align: right;

    >img {
        padding-right: 35px;
    }
}
#services-image {
    text-align: right;
    padding-right: 35px;
}
