/*Widget Global*/
.box-radius-sm {
	border-radius: 8px;

	&.ff-el-form-control {
		border-radius: 8px!important;
	}

	&.ff-btn {
		border-radius: 8px!important;
	}
}
/*Widget Globaler*/
img.size-full {
	width: 100%;
}


