
/*Movertheme post grid*/
.movertheme-blog-post-grid {
    margin-bottom: 45px;
    .movertheme-blog-post-item {
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 37px;
        padding-bottom: 62px;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 4px;

        .entry-content {
            .entry-title {
                font-size: 21px;
                font-weight: 700;
                margin-bottom: 17px;
                a {
                    color: #25008e;
                }
            }

            .post-excerpt {
                color: #79769f;
                margin-top: 15px;
                margin-bottom: 22px;
            }
        }
        .movertheme-byline {
            .dummy-byline {

            }
            .byline-item {
                color: #f48401;
                font-family: "Montserrat", Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 700;
            }
            .byline-comment {
                margin-left: 7px;
            }
        }
        .blogpost-image-section {
            .blogpost-image-wrap {
                width: 100%;
                img {
                    width: 100%;
                    height: 232px;
                    object-fit: cover;
                }
            }
        }
        .post-btn-wrap {
            margin-top: 21px;
        }
    }

    /*Outeside item style*/
    .view_more-btn-wrap {
        margin-top: 23px;
        .view_more-btn {
            background-color: #f48401;
            padding: 14px 23px;
            color: #fff;
            border-radius: 4px;

        }
    }
}