@import "imports/_global.scss";

/*Mover Elemntor Widget Style*/
@import 'widgets-blocks/mover-posts-grid';
/*Widgets Title &&fidu */
.movertheme-heading-title-title-to_take-icon .title-icon-wrap {
	display: block;
}
.title-icon-wrap {
	display: none;
}
.movertheme-title-content-wrapper {

	/*Title Type*/
	.title-icon-wrap {
		.title-icon {
			display: inline-flex;
			#svg {
				max-width: 100%;
			}
		}
	}
}
/*Events Page*/
.sabbi-events-item .events-item-meta {
	display: flex;
	align-items: baseline;
}
.sabbi-events-item .events-item-meta .events-date {
	display: flex;
	align-items: flex-end;
}
/*Book Lists*/
.sabbi-book_timeline > li .year:before {
	left: 44px;
}
.sabbi-book_timeline > li .year:after {
	right: -31px;
}
.journal-papers-doi.journal-papers-doi span {
	display: inline-block;
}

/*Team Member Block*/
.elementor-widget-container .section-meet_the_team {
	padding-left: 10px;
	padding-right: 10px;
}
.elementor-widget-container .section-meet_the_team-single {
	padding-left: 0px;
	padding-right: 0px;
}
.journal-papers-list .journal-papers {
	padding-left: 10px;
	padding-right: 10px;
}
.overflow-hidden {
	overflow: hidden;
}

/*Accordion*/
/* Requirements */

[data-accordion] [data-content] {
	overflow: hidden;
	max-height: 0;
}

/* Basic Theme */

[data-content] [data-accordion] {
	border: 0;
	padding: 0;
}

[data-accordion] [data-control] {
	position: relative;
	padding-right: 40px;
}
[data-accordion] > [data-control] .expendable-icon {
	position: absolute;
	right: 22px;
	background: #25008e;
	padding: 4px 6px;
	border-radius: 100px;
	width: 25px;
	height: 25px;
	top: 50%;
	transform: translate(0, -50%);
	line-height: 1;
	@media (max-width: 767px) {
		right: 10px;
	}
}
[data-accordion] > [data-control] .expendable-icon-unactive {
	display: none;
}

[data-accordion].open > [data-control] .expendable-icon-active {
	display: none;
}
[data-accordion].open > [data-control] .expendable-icon-unactive {
	display: inline-block;
}
.movertheme-accordion {
	width: 100%;
	.accordion-section {
		width: 100%;
		margin-bottom: 5px;

		&.open {
			.accordion-control-title {
				border: none;
				border: 1px solid #25008e;
			}
		}
		.accordion-control-title {
			text-align: inherit;
			padding-top: 6px;
			padding-bottom: 7px;
			width: 100%;
			background-color: #fff;
			border: none;
			border: 1px solid #25008e;
			border-top-color: #937fbf;
			border-bottom-color: #937fbf;
			&:focus {
				outline: none;
			}

			&[data-tab="1"] {
				border: none;
				border: 1px solid #25008e;
			}
		}
		.accordion-expendables-content {
			>article {
				width: 100%;
				background-color: #f4eee9;
				color: #79769f;
				padding: 45px;
				line-height: 29px;
			}
		}
	}
}

.elementor-widget-movertheme-teammember {

	/*MoverTheme Team Member*/
	.section-meet_the_team {
		.profile-card {
			text-align: center;
			.moverthemeprofile-pic-wrap {
				img {
					border-radius: 100%;
				}
			}
		}
	}

	&.image-border-active {
		.section-meet_the_team {
			.profile-card {
				position: relative;
				&:after {
					content: '';
					background: url('../img/curved-saparation.png');
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					bottom: 0;
					pointer-events: none;
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: bottom center;
				}
			}
		}
	}
}

/*Movertheme testimonials */
.movertheme-testimonials-wrap {
	padding-left: 75px;
	padding-right: 75px;
	.movertheme-testimonials-carousel {
		.movertheme-testimonials-item {
			background: #fff;
		}
	}

	.testimonials-content-wrap {
		padding: 35px 45px 45px;
		.testimonials-content {
			margin-bottom: 0;
			.content-quout {
				color: #e2dcd8;
				line-height: 1;
				&.flip-hr {
					transform: rotateY(180deg);
				}
				&.flip-vr {
					transform: rotateX(180deg);
				}
			}
			.content-text {
				color: #79769f;
				font-size: 18px;
				font-style: italic;
				font-family: "Open Sans";
			}
		}
	}

	.testimoni-profile {
		padding-top: 15px;
		.profile-name {
			cite {
				font-style: normal;
				font-size: 21px;
				color: #25008e;
				font-weight: 600;
			}
		}
		.profile-position {
			color: #79769f;
			font-size: 18px;
		}
	}

	.testimonial--swiper-navigation {
		.testimonial--swiper-navigation--button {
			&:focus {
				outline: none;
			}
			&:not(.__icon-button) {
				> i, > .__icon {
					display: none;
				}
			}

			&.__icon-button {
				background-color: transparent;
				background-image: none;
				width: 100%;

				&.swiper-button-disabled {
					opacity: 1;
				}

				&.testimonial--button-next {
					right: 0;
					left: auto;
					.__icon {
						margin-right: 0!important;
						margin-left: auto!important;
					}
				}				&.testimonial--button-prev {
					left: 0;
					right: auto;
					.__icon {
						margin-left: 0!important;
						margin-right: auto!important;
					}
				}

				.__icon {
					width: 60px;
					height: 60px;
					background-color: #ffffff;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 100%;
					transition: all .3s;
					&:hover {
						box-shadow: 0px 1px 2px 1px rgba(76, 48, 21, 0.10);
					}

					&.__svg {
						svg {
							width: 23px;
						}
					}
					i {
						font-size: 30px;
						color: #1d0347;
					}
				}
			}
		}
	}
}
.movertheme-content-quout {
	.movertheme-testimonials-wrap {
		.testimonials-content-wrap {

			padding: 25px 45px 45px;
			.testimonials-content {
				.content-quout {
					position: relative;
					height: 53px;
					&:before {
						position: absolute;
						content: '"';
						font-family: "Open Sans";
						font-size: 112px;
						font-style: italic;
						text-indent: -12px;
					}
					> i  {
						display: none;
					}
				}
			}
		}
	}
}

/*Working Progress*/
$progress-list-bg-color: #f5911b;
.progress-list-rosary {
	display: flex;
	flex-flow: row wrap;
	.progress-list-item-content {
		max-width: 162px;
	}
	.progress-list-item {
		list-style: none;
		flex: 1 0 0%;

		&.--badge-pointer {
			position: relative;
			z-index: 99;
			width: 100%;

			.pli-progress-pointer {
				.pli-number {

				}
			}
		}
		&.--last-child {
			flex: 0 0 0%;
			.rosary-list-sep {
				display: none;
			}
		}
		.pli-icon-holder {
			&.--round {
				.pli-icon-img {
					border-radius: 162px;
				}
			}

			&.__pointer {
				width: 162px;
				height: 162px;
				position: relative;
				.pli-progress-pointer {
					position: absolute;
					right: 0;
					top: -21px;
					left: 0;
					align-items: center;
					text-align: center;
					.pli-number {
						align-items: center;
						background: #f5911b;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						border-radius: 100%;
						width: 45px;
						height: 45px;
						border: 2px solid #f4eee9;
						font-weight: 700;
						color: #fff;
					}
				}
			}

			.pli-icon-img {
				text-align: center;
				display: flex;
				place-items: center;
				align-items: center;
				justify-content: center;
				width: 162px;
				height: 162px;
				background-color: $progress-list-bg-color;
			}
		}
		.pli-affinity-holder {
			text-align: center;
		}
		&.--separator {
			.rosary-list-sep {
				width: auto;
				height: 2px;
				border-top: 2px dotted #f4911b;
				position: absolute;
				right: 35px;
				left: 190px;
				top: calc(162px / 2);
				z-index: -1;
			}
		}
	}
}


/*Subscription Section*/
.subscription-grid {
	.frm-fluent-form {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;

		padding-bottom: 35px;

		.subscription-grid-item {
			flex: 1 0 0;

			&.ff_submit_btn_wrapper {
				margin-left: 15px;
			}
		}
		.subscription-grid-item:not(.ff_submit_btn_wrapper) {
			flex: 8 0 0;
		}

		.subscription-condition-check {
			position: absolute;
			bottom: 0;
			color: #fff;
			width: 100%;
			text-align: center;
			margin-bottom: 0;

			.ff-el-form-check-input {

			}
			/*input[type=checkbox] {
				width: 14mm;
				-webkit-appearance: none;
				-moz-appearance: none;
				height: 14mm;
				border: 0.1mm solid black;
			}

			input[type=checkbox]:checked {
				background-color: lightblue;
			}

			input[type=checkbox]:checked:after {
				margin-left: 4.3mm;
				margin-top: -0.4mm;
				width: 3mm;
				height: 10mm;
				border: solid white;
				border-width: 0 2mm 2mm 0;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				content: "";
				display: inline-block;
			}*/
		}
		.ff-el-form-check-label {
			display: inline-flex;
			align-items: baseline;
		}
		.ff-btn-submit {
			padding-left: 65px;
			padding-right: 65px;
		}
	}
	.ff-message-success {
		color: #7cc76d;
	}
}

.elementor-editor-active {admin-ajax
	.frm-fluent-form {
		.subscription-condition-check {
			top: 70%;
		}
	}
}


/*Elementor Info Cards*/
.moverthemethumlinepost-card-wrap {
	.moverthemethumlinepost-card {
		background: #f4eee9;
		padding-left: 27px;
		padding-right: 27px;
		padding-top: 55px;
		padding-bottom: 55px;

		&.solitude-bg__x {
			background-color: #fff;
		}

		.moverthemethumlinepost-card-figure {
			min-height: 50px;
		}
	}
}


/*Global Style*/
.pos_element-full-space {
	width: 100%;
	height: 100%;
	.elementor-widget-container {
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 64%;
	}
}
